@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "sazanami days";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(12% 0.042 264.695);
  --color-primary: oklch(85% 0.138 181.071);
  --color-primary-content: oklch(27% 0.046 192.524);
  --color-secondary: oklch(82% 0.111 230.318);
  --color-secondary-content: oklch(29% 0.066 243.157);
  --color-accent: oklch(82% 0.12 346.018);
  --color-accent-content: oklch(28% 0.109 3.907);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(67% 0.182 276.935);
  --color-info-content: oklch(13% 0.028 261.692);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(13% 0.028 261.692);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(13% 0.028 261.692);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(13% 0.028 261.692);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "sazanami night";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30% 0.056 229.695);
  --color-base-200: oklch(39% 0.07 227.392);
  --color-base-300: oklch(45% 0.085 224.283);
  --color-base-content: oklch(98% 0.019 200.873);
  --color-primary: oklch(51% 0.096 186.391);
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: oklch(50% 0.134 242.749);
  --color-secondary-content: oklch(97% 0.013 236.62);
  --color-accent: oklch(52% 0.223 3.958);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(45% 0.24 277.023);
  --color-info-content: oklch(98% 0.002 247.839);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.002 247.839);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.002 247.839);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(98% 0.002 247.839);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
